.line-chart{
    width: 600px;
    height: 300px;
}

.line-chart .lineA {
    fill: none;
    stroke:red;
    stroke-width: 1.5;
}

.line-chart .lineB{
    fill: none;
    stroke:blue;
    stroke-width: 1.5;
}

.line-chart .dotA {
    fill:red;
    stroke: #fff;
   
}

